.table{
  flex:4 ;
}
.userListUser{
  display: flex;
  align-items: center;
}
.UserListImage{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin: 10px;
}
.userListEdit{
  border:none;
  border-radius:5px ;
  padding:5px 10px;
  background-color: rgb(32, 119, 90);
  color:white ;
  cursor: pointer;
  margin-right: 20px;
}
.userListDelete{
color: red;
cursor: pointer;
}